@import "variables";

/* Courses */

#courses {
  .action-bar {
    .dropdown {
      padding: 12px 0 0 16px;
    }
    .btn {
      &:not(.dropdown-toggle) {
        margin-top: 14px;
      }
    }
    .form-control-material {
      label {
        line-height: 64px;
      }
    }
  }
  .cover.overlay {
    .overlay.overlay-full:not(.overlay-hover) {
      i.mfizz {
        display: inline-block;
        margin-top: 7px;
        margin-left: 7px;
      }
    }
    &:hover {
      .overlay.overlay-full {
        &:not(.overlay-hover) {
          display: none;
        }
        &.overlay-hover {
          .v-center {
            .btn-danger {
              background-color: @red-300;
              border-color: @red-300;
              &:hover {
                background-color: @red-400;
                border-color: @red-400;
              }
            }
          }
        }
      }
    }
    .course-cover {
      &,
      div:first-of-type {
        cursor: pointer;
      }
    }
  }
  .course-title {
    height: 150px;
    position: relative;
    p {
      position: absolute;
      bottom: 10px;
      width: 90%;
      .badge-label {
        position: absolute;
        right: 0;
      }
    }
  }
  p.desc {
    word-break: break-all;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#course-details {
  .page-section.course-prerequisites {
    &:last-of-type {
      // required courses
      .panel {
        &:not(: last-of-type) {
          margin-right: 15px;
        }
      }
    }
    &:not(:last-of-type) {
      padding: 20px 0;
    }
  }
  .media {
    .media-body {
      width: 10000px;
    }
  }
  .icon-block {
    i.mfizz {
      display: inline-block;
      margin-top: 3px;
      margin-left: 5px;
    }
  }
  .description {
    min-height: 100px;
    font-size: 15px;
    white-space: pre-line;
  }
  .info {
    &,
    & > p {
      display: flex;
      align-items: center;
      & > span {
        margin-right: 5px;
      }
    }
    .admin-label {
      position: absolute;
      right: 10px;
    }
    i.course-badge {
      color: #FFD600;
      font-size: 20px;
      margin-right: 3px;
    }
  }
  .collapse {
    &.collapsed .sub-heading:after {
      content: "\f105";
    }
    .sub-heading {
      & ~ #change-status .list-group {
        margin-left: 10px;
      }
      &:after {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
        position: absolute;
        right: 15px;
        top: 10px;
        display: block;
      }
    }
  }
  .curriculum {
    .collapse-status {
      padding: 2px 10px;
    }
    .media-left:first-of-type {
      padding-top: 5px;
    }
  }
}

.create-course {
  textarea {
    resize: none;
  }
  .badges-dropdown-list {
    li {
      &:hover {
        background-color: #f5f5f5;
      }
      img {
        margin: 5px;
      }
    }
  }
}

.course-cover {
  background-position: 50%;
  background-size: cover;
  display: block;
  width: 200px;
  height: 80px;
  line-height: 60px;
  text-align: center;
  img {
    height: 100%;
  }
  i.mfizz {
    color: #fff;
    font-size: 48px;
    line-height: 90px;
    margin-left: 10px;
  }
}

.course-admin {
  .editor-tabs {
    .nav-tabs {
      border-bottom: 1px solid #e9ebee;
      & > li:not(.disabled):not(.active) > a {
        &:hover {
          color: @primary-color;
        }
      }
    }
    .tab-content {
      padding: 10px;
    }
  }
  .label {
    margin-right: 8px;
  }
  #lessons-order {
    .lesson-infos {
      z-index: 10;
      .overlay {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 11;
      }
      & ~ button {
        z-index: 12;
      }
    }
  }
}

#course-desc {
  white-space: pre-line;
}
