@import "font-mfizz";
@import "variables";
@import "course";
@import "chat-box";
/* common */
.navbar.navbar-size-small .navbar-brand-logo .svg {
  height: 42px;
}
.ui-view-main {
  height: 100%;
}
.main-container {
  overflow-y: scroll;
}
.ng-toast.ng-toast--bottom {
  bottom: 80px;
}
.powered-by-firepad {
	display: none;
}
.fullscreen {
  height: calc(~"100% - 40px");
}
.abn-tree {
  font-size: 14px;
}
.form-error {
  .form-control-material {
    .form-control {
      & ~ label {
        color: @red;
      }
    }
    .ma-form-bar {
      &:before, &:after {
        background: @red;
      }
    }
  }
}
.alert {
  padding: 10px;
}
.alert-danger {
  background-color: @red-400;
  border-color: @red-400;
}
.media {
  display: inline-block;
  .media-body {
    width: initial;
  }
}
.btn {
  &.dropdown-toggle {
    height: 36px;
    line-height: 36px;
    .caret {
      margin-left: 5px;
    }
  }
}
#simple-dropdown {
  & ~ ul.dropdown-menu {
    top: 55px;
  }
}
/* resizer grabber */
.rg-right {
  margin-right: -15px; // to match with padding 15px of editor
}
.rg-left {
  margin-left: -15px;
}
.rg-right, .rg-left {
  span {
    border-width: 0 2px;
  }
}

/* fonts */
@font-face {
  font-family: 'Menlo';
  src: url('../fonts/Menlo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monaco';
  src: url('../fonts/Monaco-Linux.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* override container styles */
@media (max-width: 1199px) {
  .container {
    width: 100% !important;
  }
}
// @media (min-width: 992px) {
//   .container {
//     width: 100%;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     width: 100%;
//   }
// }

/* helper classes */
.min-width-10 {
  min-width: 10%;
}
.min-width-20 {
  min-width: 20%;
}
.min-width-30 {
  min-width: 30%;
}
.min-width-40 {
  min-width: 40%;
}
.min-width-50 {
  min-width: 50%;
}
.min-width-60 {
  min-width: 60%;
}
.min-width-70 {
  min-width: 70%;
}
.min-width-80 {
  min-width: 80%;
}
.min-width-90 {
  min-width: 90%;
}
.min-width-100 {
  min-width: 100%;
}
.padding-left-none {
  padding-left: 0 !important;
}
.padding-right-none {
  padding-right: 0 !important;
}
.right {
  float: right !important;
}
i.icon-lg {
  &:before {
    font-size: 24px;
    font-weight: 700;
  }
}

#workspace-container {
  .workspace {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    // & > div {
    //   flex: 1;
    //   // margin: 0 7px;
    //   &.file-tree.resizable {
    //     min-width: 50px;
    //     max-width: 30%;
    //     flex: 0 0 20%;
    //     overflow: auto;
    //   }
    //   &.console-panel.resizable {
    //     min-width: 50px;
    //     max-width: 50%;
    //     flex: 0 0 30%;
    //   } 
    // }
    .resize-notify {
      height: 100%; 
      color: #ccc;
      font-size: 42px;
      display: flex; 
      align-items: center;
      position: absolute;
      top: 0;
      &.resize-right {
        right: -5px;
      }
      &.resize-left {
        left: -5px;
      }
    }
  }
	/* tabs */
	.editor-tabs {
    flex: 1;
    padding: 0 14px;
		.nav.nav-tabs {
			height: 40px;
			li > a {
				display: inline-block;
				padding: 10px 30px 10px 15px;
				& + i.btn-close {
					position: absolute;
					right: 10px;
					top: 10px;
					&:before {
						font-size: 16px;
					}
					&:hover {
						&:before {
							color: red;
						}
					}
				}
			}
		}
    .tab-content {
      height: calc(~"100% - 40px");
      #firepad, .firepad, .CodeMirror {
        height: 100%;
      }
    }
	}

	/* tree control */
	.file-tree {
    overflow: auto;
    flex: 0 0 16.67%;
		// min-height: @editor-wrap-height; // 500px of .CodeMirror + 38px of .console-panel-heading, see below
    div.panel-body {
      height: 100%;
    }
	}

	/* buttons of editor */
	.editor-actions {
		position: absolute;
		bottom: 3%;
		right: 3%;
		z-index: 101;
		.btn {
			margin-left: 5px;
		}
	}
}
.workspace-actions {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0; 
  height: 41px; // the padding bottom of class page-section + 1px to make sure it fills up
  background-color: @workspace-actions-bg;
  z-index: 99;
  // div:nth-of-type(2) {
  //   border-width: 0 14px;
  //   border-color: brown;
  // }
}

/* console */
#console {
  .CodeMirror-lines .CodeMirror-code pre.CodeMirror-line {
    font-weight: bold;
  }
  &.code-error {
    .CodeMirror-code pre {
      color: @red;
    }
  }
}
.console-panel {
  flex: 0 0 25%;
	height: 100%;
}
.console-panel-heading {
	min-height: 38px;
}
.file-tree, .console-panel {
  transition: flex-basis 0.3s ease-in-out;
  &.minimized {
    overflow: hidden !important;
    flex: 0 0 50px !important;
  }
}
/* Theme: Pacific */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: Menlo, Monaco, monospace, sans-serif !important;
  height: 100%;
  color: black;
}

.cm-s-Pacific.CodeMirror { color: #f8f8f2; }
.cm-s-Pacific.CodeMirror { background: #354551; }
.cm-s-Pacific .CodeMirror-gutters {
  background: #354551;
  color: #f8f8f2;
  border: none;
}
.cm-s-Pacific .CodeMirror-cursor { border-left: 2px solid #AEAFAD; }
.cm-s-Pacific .CodeMirror-activeline-background { background: #2a3034 !important; }
.cm-s-Pacific div.CodeMirror-selected { background: #2a3034; }
.cm-s-Pacific.CodeMirror-focused div.CodeMirror-selected { background: #2a3034; }
.cm-s-Pacific .CodeMirror-line::selection, .cm-s-Pacific .CodeMirror-line > span::selection, .cm-s-Pacific .CodeMirror-line > span > span::selection { background: #2a3034; }
.cm-s-Pacific .CodeMirror-line::-moz-selection, .cm-s-Pacific .CodeMirror-line > span::-moz-selection, .cm-s-Pacific .CodeMirror-line > span > span::-moz-selection { background: #2a3034; }
.cm-s-Pacific .cm-comment { color: #969896; }
.cm-s-Pacific .cm-string { color: #B5BD68; }
.cm-s-Pacific .cm-string-2 { color: #a4cccb; }
.cm-s-Pacific .cm-builtin { color: #B294BB; }
.cm-s-Pacific .cm-property { color: #ffffff; fontStyle:  italic ; }
.cm-s-Pacific .cm-qualifier { font-style: italic; color: #c5e88c; }
.cm-s-Pacific .cm-tag { color: #ff8973; }
.cm-s-Pacific .cm-attribute { color: #c5e88c; }
.cm-s-Pacific .cm-number { color: #DE935F; }
.cm-s-Pacific .cm-keyword { color: #B294BB; }
.cm-s-Pacific .cm-operator { color: #ffe083; }
.cm-s-Pacific .cm-error { background: #ffe083; color: #354551 !important; }
.cm-s-Pacific .cm-invalidchar { background: #ffe083; color: #354551; }
.cm-s-Pacific .cm-variable { color: #C5C8C6; }
.cm-s-Pacific .cm-variable-2 { font-style: italic; color: #c5e88c; }

.cm-s-thinkcode-console.CodeMirror { color: #939598; }
.cm-s-thinkcode-console.CodeMirror { background: #000000; }

/* material preloader, credit to https://codepen.io/anon/pen/oBJrZE */
// Functions/mixins
.colour(@value) {
	background-color: extract(@colours, @value);
}

// Variables
@nav-bar-height: 80px;
@preloader-height: 5px;
@colours: #159756, #da4733, #3b78e7, #fdba2c; // green, red, blue, yellow
@animation-duration: 3.5s;

#preloader {
  position: absolute;
  top: @nav-bar-height;
  left: 0;
  padding-top: @preloader-height;
  width: 100%;
  .colour(1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  z-index: 101;
  animation: preloader-background linear @animation-duration infinite;
  
  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    z-index: 102;
    width: 0;
    height: @preloader-height;
    background: #afa;
    animation: preloader-front linear @animation-duration infinite;
    content: '';
  }
  
  &::before {
    right: 50%;
  }
  
  &::after {
    left: 50%;
  }

  & + .progress {
  	height: 7px;
  	line-height: 7px;
  }
}
.navbar-size-small ~ #preloader {
  top: 43px;
}

// screen overlay
.loading-overlay {
  background: rgba(255,255,255,0.9);
	width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
}

// Animations
@keyframes preloader-background {
  0%, 24.9% {
    .colour(1);
  }
  
  25%, 49.9% {
    .colour(2);
  }
  
  50%, 74.9% {
    .colour(3);
  }
  
  75%, 100% {
    .colour(4);
  }
}

@keyframes preloader-front {
  0% {
    width: 0;
    .colour(2);
  }
  
  24.9% {
    width: 50%;
    .colour(2);
  }
  
  25% {
    width: 0;
    .colour(3);
  }
  
  49.9% {
    width: 50%;
    .colour(3);
  }
  
  50% {
    width: 0;
    .colour(4);
  }
  
  74.9% {
    width: 50%;
    .colour(4);
  }
  
  75% {
    width: 0%;
    .colour(1);
  }
  
  
  100% {
    width: 50%;
    .colour(1);
  }
}


/* auto hide navbar */
.auto-hide {
  transform: translateY(-41px);
  & ~ #preloader {
    top: 10px;
  }
  &:hover {
    transform: translateY(0);
  }
}
.top-navbar-hide {
  body {
    padding-top: 10px;
  }
}

