/* tree control */
.file-tree {
	min-height: 300px;
}

/* buttons of editor */
.editor-actions {
	position: absolute;
	bottom: 3%;
	right: 7%;
	z-index: 101;
}

/* console */
.console-panel-heading {
	min-height: 38px;
}