{% block content %}
<!-- <div id="userlist" class="col-md-2"></div> -->
<div id="workspace-container" class="height-100pc">
  <div class="workspace height-100pc">
    <div class="panel panel-default col-md-2 file-tree margin-none height-100pc padding-none" ng-class="{'minimized': wVm.treeHidden}">
      <div class="panel-body height-100pc">
        <abn-tree-mod id="workspace-tree" ng-hide="wVm.treeHidden" ng-if="!loading" tree-data="wVm.my_data" tree-control="wVm.my_tree" icon-leaf="fa fa-file" icon-expand="fa fa-folder" icon-collapse="fa fa-folder-open" expand-level="3"></abn-tree-mod>
        <div ng-if="wVm.treeHidden" class="resize-notify resize-right" ng-click="wVm.treeHidden = false"><i class="fa fa-fw fa-angle-double-right"></i></div>
      </div>
      <chat-box user="user"></chat-box>
    </div>
    <!-- Tabbable Widget -->
    <div class="editor-tabs tabbable col-md-7 margin-none" ng-show="wVm.tabs.length">
      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in wVm.tabs track by tab.data.id" ng-class="{'active': tab.data.id === wVm.currentBranch.data.id}">
          <a href ng-click="wVm.openTab(tab)"><i class="fa fa-fw fa-code"></i> ::tab.label::</a>
          <i class="btn-close md md-close" ng-if="tab.uid !== -1" ng-click="wVm.closeFile(tab)"></i>
        </li>
      </ul>
      <!-- // END Tabs -->
      <!-- Panes -->
      <div class="tab-content padding-none">
        <div id="firepad" class="tab-pane active">
        </div>
      </div>
      <!-- // END Panes -->
    </div>
    <div class="panel panel-default col-md-3 padding-none console-panel margin-none" ng-class="{'minimized': wVm.consoleHidden}">
      <div id="console" class="height-100pc" ng-class="{'code-error': wVm.codeError}" ng-hide="wVm.consoleHidden">
      </div>
      <div ng-if="wVm.consoleHidden" class="resize-notify resize-left" ng-click="wVm.consoleHidden = false"><i class="fa fa-fw fa-angle-double-left"></i></div>
    </div>
  </div>
</div>
<div class="workspace-actions">
  <div class="col-md-2">
    <div class="btn btn-primary btn-sm" ng-click="wVm.openUpload()" ng-disabled="waiting" ng-if="user.instructor"><small>Upload Template</small></div>
  </div>
  <div class="col-md-7">
    <div class="pull-right">
      <span ng-if="wVm.currentBranch.uid !== -1">
        <button class="btn btn-success btn-sm" ng-click="wVm.saveFile()" ng-disabled="waiting">Save</button>
        <button class="btn btn-primary btn-sm" ng-click="wVm.runFile()" ng-disabled="waiting">Run</button>
      </span>
      <button class="btn btn-default btn-sm" ng-click="wVm.treeHidden = true; wVm.consoleHidden = true"><i class="fa fa-expand icon-lg"></i></button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="pull-right">
    </div>
  </div>
</div>
<!-- // END Tabbable Widget -->
{% include "src/html/themes/angular/modals/save-file-success.html" %} {% endblock %}
