<div id="live-chat">
  <header class="clearfix" ng-click="active = !active; toggleChatBox()">
    <!-- <a href="#" class="chat-close">x</a> -->
    <h4>:: user.username ::</h4>
    <span class="chat-message-counter" ng-if="unreadCount">:: unreadCount ::</span>
  </header>
  <div class="chat">
    <div class="chat-history">
      <div ng-repeat="chatMessage in messages">
        <div class="chat-message clearfix">
          <img src="http://lorempixel.com/32/32/people" alt="" width="32" height="32">
          <div class="chat-message-content clearfix">
            <span class="chat-time">::chatMessage.datetime | fromNow ::</span>
            <h5>:: chatMessage.name ::</h5>
            <p>:: chatMessage.message ::</p>
          </div>
          <!-- end chat-message-content -->
        </div>
        <!-- end chat-message -->
        <hr ng-if="$index < (messages.length - 1)">
      </div>
    </div>
    <!-- end chat-history -->
    <!-- <p class="chat-feedback">Your partner is typing…</p> -->
    <form>
      <fieldset>
        <input type="text" placeholder="Type a message…" autofocus ng-model="chatMes" class="col-md-12">
        <button type="submit" ng-click="sendChat()" hidden>Send</button>
      </fieldset>
    </form>
  </div>
  <!-- end chat -->
</div>
<!-- end live-chat -->
