<div class="modal-body text-center">
  <a class="btn btn-close display-inline-block padding-none" ng-click="vm.cancel()"><i class="md md-close"></i></a>
  <div ng-if="!vm.incomplete">
    <h1 class="">Thật tuyệt vời!</h1>
    <div class="text-h4 margin-v-15">Bạn đã hoàn thành khóa học <b>:: vm.courseTitle ::</b><span ng-if="vm.badge"> và đạt được danh hiệu <img ng-src="::vm.badge.image::" width="40" height="40"><strong> :: vm.badge.title ::</strong></span>. Hãy tiếp tục cố gắng nhé!</div>
    <h3 ng-if="vm.recommendations.length && (vm.recommendations | publishedCourses).length">Khóa học tiếp theo:</h3>
    <div class="width-100pc display-inline-block padding-v-10">
      <slick dots="true" arrows="false" autoplay="true" infinite="true" speed="300" slides-to-show="2" touch-move="false" slides-to-scroll="1">
        <div class="media v-middle col-md-6 padding-left-none" ng-repeat="item in vm.recommendations | publishedCourses track by item.id">
          <div class="media-left">
            <div class="cover width-60 width-100pc-xs overlay cover-image-full hover">
              <div ng-if="item.cover.length">
                <span ng-click="vm.cancel()" ui-sref="main.courses.details({course_id: item.id})" class="img icon-block s60 course-cover" ng-attr-style="background-image: url(::item.cover::);"></span>
                <a ng-click="vm.cancel()" ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white"></a>
              </div>
              <div ng-if="!item.cover.length">
                <span class="img icon-block s60 bg-primary"></span>
                <a ng-click="vm.cancel()" ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full padding-none icon-block s60 bg-primary">
                  <span class="v-center"><i class="mfizz icon-::item.engine | lowercase::"></i></span>
                </a>
                <a ng-click="vm.cancel()" ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white">
                  <span class="v-center">
            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading margin-v-5-3"><a class="link-text-color" ng-click="vm.cancel()" ui-sref="main.courses.details({course_id: item.id})">:: item.title ::</a></h4>
          </div>
        </div>
      </slick>
    </div>
    <button class="btn btn-primary" ng-click="vm.ok()">Quay về Thư Viện</button>
  </div>
  <div ng-if="vm.incomplete">
  	<h3>Chúc mừng!</h3>
  	<p>Bạn đã học xong bài học cuối cùng của khóa học <b>:: vm.courseTitle ::</b>.</p>
  	<p>Hãy tiếp tục các bài học dang dở còn lại để hoàn thành khóa học này nhé!</p>
  </div>
</div>
