<div class="modal-body text-center">
  <a class="btn btn-close display-inline-block padding-none" ng-click="vm.cancel()"><i class="md md-close"></i></a>
  <h1 class="">Thật tuyệt vời!</h1>
  <div class="text-h4 margin-v-15">Bạn đã hoàn thành khóa học <b>:: vm.courseTitle ::</b><span ng-if="vm.badge"> và đạt được danh hiệu <img ng-src="::vm.badge.image::" width="40" height="40"><strong> :: vm.badge.title ::</strong></span>. Hãy tiếp tục cố gắng nhé!</div>
  <h3 ng-if="vm.recommendations.length">Khóa học tiếp theo:</h3>
  <button class="btn btn-primary" ng-click="vm.ok()">Về trang chủ</button>
</div>
