<div class="modal-header">
  <h3 class="modal-title">:: vm.course.id ? 'Chỉnh sửa khóa học' : 'Tạo khóa học'::</h3>
</div>
<div class="modal-body">
  <form class="create-course" name="form.newCourseForm">
    <div class="form-group ">
      <div class="btn btn-primary btn-sm" ngf-select ng-model="uploadedFile" ngf-accept="'svg, png'" name="template" ngf-change="vm.photoChanged(uploadedFile)"><small>Upload ảnh bìa</small></div> <span>Kích thước đề nghị: 500x500 (px)</span>
      <!-- <div class="btn btn-primary btn-sm" ngf-select ng-model="uploadedFile" ngf-accept="svg" name="template" ngf-change="vm.photoChanged(uploadedFile)" ngf-resize="{width:350, height: 150, centerCrop: true}"><small>Upload ảnh bìa</small></div> -->
      <div ng-if="vm.course.cover && vm.course.cover.length" class="text-center margin-v-10">
        <img class="course-cover-preview" height="150" ng-src=":: vm.course.cover ::">
      </div>
    </div>
    <div class="form-group form-control-material">
      <input type="text" class="form-control" id="course-title" placeholder="Nhập tên khóa học" ng-model="vm.course.title" ng-class="{'used': vm.course.title}" maxlength="50"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
      <label for="course-title">Tiêu đề</label>
    </div>
    <div class="form-group">
      <label for="course-desc">Mô tả</label>
      <div text-angular ng-model="vm.course.description"></div>
      <!-- <textarea class="form-control" id="course-desc" placeholder="Giới thiệu/mô tả ngắn gọn về khóa học" ng-model="vm.course.description" rows="5"></textarea> -->
    </div>
    <div class="row margin-v-10">
      <div class="btn-group col-md-2" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>::vm.course.engine::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.selectEngine(1)">Python</a></li>
          <li role="menuitem"><a href ng-click="vm.selectEngine(2)">Ruby</a></li>
          <li role="menuitem"><a href ng-click="vm.selectEngine(3)">Java</a></li>
        </ul>
      </div>
      <div class="btn-group col-md-2" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>::vm.course.level::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.selectLevel(1)">Mới học</a></li>
          <li role="menuitem"><a href ng-click="vm.selectLevel(2)">Căn bản</a></li>
          <li role="menuitem"><a href ng-click="vm.selectLevel(3)">Nâng cao</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group form-control-material" ng-class="{'open': vm.badgeList.length && vm.typing}">
      <input type="text" class="form-control" id="course-badge" name="course-badge" ng-model="keyword" ng-keyup="vm.searchBadge(keyword)" ng-class="{'used': keyword}" ng-click="vm.typing = true" autocomplete="off"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
      <label for="course-badge">Tìm danh hiệu</label>
      <span ng-if="!vm.currentBadge">Hãy tìm một danh hiệu để trao thưởng cho các học viên hoàn thành khóa học này.</span>
      <ul class="dropdown-menu badges-dropdown-list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
        <li role="menuitem" ng-repeat="badge in vm.badgeList" ng-click="vm.selectBadge(badge)">
          <img ng-src="::badge.image::" width="40" height="40"><span>:: badge.title ::</span>
        </li>
      </ul>
    </div>
    <div ng-if="vm.currentBadge">
      <span>Danh hiệu </span><img ng-src="::vm.currentBadge.image::" width="40" height="40"><strong> :: vm.currentBadge.title ::</strong><span> sẽ được trao thưởng cho các học viên hoàn thành khóa học.</span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="vm.cancel()">Bỏ qua</button>
  <button class="btn btn-primary" type="button" ng-click="vm.ok()" ng-disabled="!vm.validForm()">:: vm.course.id ? 'Chỉnh sửa' : 'Tạo khóa học'::</button>
</div>
