<div class="lock-container">
  <div class="panel panel-default text-center paper-shadow" data-z="0.5">
    <h1 ng-class="signupSuccess ? 'text-h2' : 'text-display-1'">Đăng ký<span ng-if="signupSuccess"> thành công</span></h1>
    <div class="width-80 height-80 h-center img-holder" ng-click="vm.$state.go('main.courses')" ng-if="signupSuccess">
      <img src="images/ThinkCode-05.svg" class="width-80">
    </div>
    <div class="panel-body">
      <!-- Signup -->
      <form role="form" name="form.signUpForm" autocomplete="off">
        <!-- <div class="form-group">
                    <div class="form-control-material">
                        <input id="firstName" type="text" class="form-control" placeholder="First Name">
                        <label for="firstName">First name</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control-material">
                        <input id="lastName" type="text" class="form-control" placeholder="Last Name">
                        <label for="lastName">Last name</label>
                    </div>
                </div> -->
        <div ng-if="!signupSuccess">
          <div class="form-group">
            <div class="form-control-material">
              <input id="username" type="username" name="username" class="form-control" placeholder="Username" ng-model="vm.username" required ng-keyup="$event.keyCode == 13 && vm.signup()">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-control-material">
              <input id="email" type="email" name="email" class="form-control" placeholder="Email" ng-model="vm.email" required ng-keyup="$event.keyCode == 13 && vm.signup()">
              <label for="email">Email</label>
            </div>
            <span class="help-block text-red-500" ng-if="form.signUpForm.email.$error.email">Email không hợp lệ</span>
          </div>
          <div class="form-group">
            <div class="form-control-material">
              <input id="password" type="password" name="password" class="form-control" placeholder="Password" ng-model="vm.password" required ng-keyup="$event.keyCode == 13 && vm.signup()">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="form-group" ng-class="{'form-error': !vm.pwdMatched}">
            <div class="form-control-material">
              <input id="passwordConfirmation" type="password" name="confirmPassword" class="form-control" placeholder="Password Confirmation" ng-model="vm.confirmPassword" required ng-keyup="$event.keyCode == 13 && vm.signup()">
              <label for="passwordConfirmation">Nhập lại password</label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a ng-click="vm.signup()" class="btn btn-primary" ng-disabled="!vm.validForm()" ng-if="!signupSuccess">Đăng ký</a>
          <h4 ng-if="signupSuccess">Một email hướng dẫn kích hoạt tài khoản sẽ được gửi đến :: vm.email ::.</h4>
          <div class="margin-v-10-0">
            <a ui-sref="login">Quay lại đăng nhập</a>
          </div>
        </div>
      </form>
      <!-- //Signup -->
    </div>
  </div>
</div>
