{% extends "src/html/themes/angular/website/_layout-instructor.html" %} {% block content %}
<div id="courses" class="container page-section" ng-if="vm.$state.current.name.indexOf('details') < 0">
  <div class="col-xs-12 margin-v-0-10 panel panel-default action-bar">
    <div ng-if="user.instructor && vm.$state.params.type === 'manage'">
      <button class="btn btn-success col-xs-2" ng-click="vm.openCourseModal()"><strong>Tạo khóa học mới</strong></button>
      <div class="form-group right padding-none">
        <div class="btn-group right" uib-dropdown>
          <button id="btn-append-to-to-body" type="button" class="btn btn-primary width-100pc" uib-dropdown-toggle>::vm.search.status.length ? vm.search.status : 'Trạng thái'::<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
            <li role="menuitem"><a href ng-click="vm.search.status = ''">Tất cả</a></li>
            <li role="menuitem"><a href ng-click="vm.search.status = 'draft'">Nháp</a></li>
            <li role="menuitem"><a href ng-click="vm.search.status = 'reviewing'">Đang kiểm định</a></li>
            <li role="menuitem"><a href ng-click="vm.search.status = 'published'">Đã được duyệt</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group right padding-none col-xs-8">
      <div class="btn-group right" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary width-100pc" uib-dropdown-toggle>::vm.search.level.length ? vm.search.level : 'Trình độ'::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.search.level = ''">Tất cả</a></li>
          <li role="menuitem"><a href ng-click="vm.search.level = 'Learn'">Learn</a></li>
          <li role="menuitem"><a href ng-click="vm.search.level = 'Hack'">Hack</a></li>
        </ul>
      </div>
      <div class="btn-group right" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-primary width-100pc" uib-dropdown-toggle>::vm.search.engine.length ? vm.search.engine : 'Ngôn ngữ'::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.search.engine = ''">Tất cả</a></li>
          <li role="menuitem"><a href ng-click="vm.search.engine = 'Python'">Python</a></li>
          <li role="menuitem"><a href ng-click="vm.search.engine = 'Ruby'">Ruby</a></li>
        </ul>
      </div>
      <div class="form-control-material col-xs-6 right">
        <input class="form-control" id="search" type="text" ng-model="vm.search.description">
        <label for="search">Tìm khóa học</label>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="item in vm.courses | filter: vm.search track by item.id">
    <div class="panel panel-default paper-shadow">
      <div class="cover overlay cover-image-full hover">
        <div ng-if="item.cover !== 'missing.png'">
          <span ui-sref="main.courses.details({course_id: item.id})" class="img icon-block height-150 course-cover width-100pc" ng-attr-style="background-image: url(::item.cover::);"></span>
          <!--  <span ui-sref="main.courses.details({course_id: item.id})" class="img icon-block height-150 course-cover width-100pc">
          	<img ng-src="::item.cover::">
          </span> -->
          <a ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white"></a>
        </div>
        <div ng-if="item.cover === 'missing.png'">
          <span class="img icon-block height-150 bg-primary width-100pc"></span>
          <a ui-sref="main.courses.details({course_id: item.id})" class="padding-none overlay overlay-full icon-block bg-primary">
            <span class="v-center"><i class="mfizz icon-::item.engine | lowercase::"></i></span>
          </a>
          <a ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white">
            <!-- <span class="v-center" ng-if="vm.$state.is('main.courses')">
	          <span class="btn btn-circle btn-primary btn-lg" ng-click="vm.openCourseModal(item.id)"><i class="fa fa-pencil"></i></span>
	          <span class="btn btn-circle btn-danger btn-lg" ng-click="vm.deleteCourse(item.id, item.title)"><i class="md md-clear"></i></span>
          </span> -->
            <span class="v-center">
	          <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
            </span>
          </a>
        </div>
      </div>
      <div class="panel-body course-title">
        <h4 class="text-headline margin-none"><a ui-sref="main.courses.details({course_id: item.id})">:: item.title ::</a></h4>
        <p>
          <span class="label" ng-class="item.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'">:: item.engine ::</span>
          <span class="label" ng-class="item.level === 'Learn' ? 'bg-teal-A700' : 'bg-gray-dark'">:: item.level ::</span>
          <span class="badge-label">
          	<img ng-src=":: item.badge.id | badgeImage:allBadges ::" alt="Badge" class="icon-block s30 img-circle"><a ui-sref="main.badges({id: item.badge.id})"><strong> :: item.badge.title ::</strong></a>
          </span>
        </p>
      </div>
      <hr class="margin-none">
      <div class="panel-body">
        <p class="desc">:: item.description ::</p>
        <div class="media v-middle">
          <div class="media-left">
            <img src="images/people/50/guy-{{ random(1,9) }}.jpg" alt="People" class="img-circle width-40" />
          </div>
          <div class="media-body">
            Quản trị viên
            <h4><a href>:: item.admin ::</a><br/></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ui-view="content" class="ui-view-main" ng-if="vm.$state.current.name.indexOf('details') >= 0"></div>
<div ui-view="lesson" class="ui-view-main" ng-if="vm.$state.is('main.courses.lesson')"></div>
<!-- {% include "src/html/themes/html/_pagination.html" %} -->
{% endblock %}
