<div class="modal-header relative">
  <h3 class="modal-title display-inline-block">Quản trị khóa học</h3>
  <a class="btn btn-close display-inline-block padding-none" ng-click="vm.isConfig = false"><i class="md md-close"></i></a>
</div>
<div class="modal-body course-admin display-inline-block width-100pc">
  <div class="editor-tabs tabbable tabs-primary col-md-12 margin-none padding-none">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': tab === 1, 'disabled': !vm.editInfoAllowed}">
        <a href ng-click="vm.editInfoAllowed ? tab=1 : ''">Thông tin khóa học</a>
      </li>
      <li ng-class="{'active': tab === 2, 'disabled': !vm.editAdminAllowed}">
        <a href ng-click="vm.editAdminAllowed ? tab=2 : ''">Quản trị khóa học</a>
      </li>
      <li ng-class="{'active': tab === 3, 'disabled': !vm.editInfoAllowed}">
        <a href ng-click="vm.editInfoAllowed ? tab=3 : ''">Các bài học</a>
      </li>
    </ul>
    <div class="" ng-show="tab === 1">
      <div class="panel panel-default paper-shadow display-inline-block width-100pc" data-z="0.5" data-hover-z="1" data-animated="">
        <div class="panel-body">
          <form class="create-course" name="form.newCourseForm">
            <div class="form-group ">
              <!-- <div class="btn btn-primary btn-sm" ngf-select ng-model="uploadedFile" ngf-accept="svg" name="template" ngf-change="vm.photoChanged(uploadedFile)" ngf-resize="{width:350, height: 150, centerCrop: true}"><small>Upload ảnh bìa</small></div> -->
              <div ng-if="vm.tempCourse.cover && vm.tempCourse.cover !== 'missing.png'" class="text-center margin-v-10">
                <img class="course-cover-preview" height="150" ng-src=":: vm.tempCourse.cover ::">
              </div>
              <div class="btn btn-primary btn-sm" ngf-select ng-model="uploadedFile" ngf-accept="'svg, png'" name="template" ngf-change="vm.photoChanged(uploadedFile)"><small>Upload ảnh bìa</small></div> <span>Kích thước đề nghị: 500x500 (px)</span>
            </div>
            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="course-title" placeholder="Nhập tên khóa học" ng-model="vm.tempCourse.title" ng-class="{'used': vm.tempCourse.title}" maxlength="50" required><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
              <label for="course-title">Tiêu đề</label>
            </div>
            <div class="form-group">
              <label for="course-desc">Mô tả</label>
              <textarea class="form-control" id="course-desc" placeholder="Giới thiệu/mô tả ngắn gọn về khóa học" ng-model="vm.tempCourse.description" rows="10" required></textarea>
            </div>
            <div class="row margin-v-10">
              <div class="btn-group col-md-3" uib-dropdown>
                <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>::vm.tempCourse.engine::<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                  <li role="menuitem"><a href ng-click="vm.selectEngine(1)">Python</a></li>
                  <li role="menuitem"><a href ng-click="vm.selectEngine(2)">Ruby</a></li>
                </ul>
              </div>
              <div class="btn-group col-md-3" uib-dropdown>
                <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>::vm.tempCourse.level::<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                  <li role="menuitem"><a href ng-click="vm.selectLevel(1)">Learn</a></li>
                  <li role="menuitem"><a href ng-click="vm.selectLevel(2)">Hack</a></li>
                </ul>
              </div>
            </div>
            <div class="form-group form-control-material" ng-class="{'open': vm.badgeList.length && vm.typing}">
              <input type="text" class="form-control" id="course-badge" name="course-badge" ng-model="keyword" ng-keyup="vm.searchBadge(keyword)" ng-class="{'used': keyword}" ng-click="vm.typing = true" autocomplete="off"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
              <label for="course-badge">Tìm danh hiệu</label>
              <span ng-if="!vm.currentBadge">Hãy tìm một danh hiệu để trao thưởng cho các học viên hoàn thành khóa học này.</span>
              <ul class="dropdown-menu badges-dropdown-list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                <li role="menuitem" ng-repeat="badge in vm.badgeList" ng-click="vm.selectBadge(badge)">
                  <img ng-src="::badge.image::" width="40" height="40"><span>:: badge.title ::</span>
                </li>
              </ul>
            </div>
            <div ng-if="vm.currentBadge">
              <span>Danh hiệu </span><img ng-src="::vm.currentBadge.image::" width="40" height="40"><strong> :: vm.currentBadge.title ::</strong><span> sẽ được trao thưởng cho các học viên hoàn thành khóa học.</span>
            </div>
          </form>
          <button class="btn btn-primary right" type="button" ng-click="vm.saveEdit(vm.tempCourse)" ng-disabled="!form.newCourseForm.$valid || !vm.validForm()" ng-if="tab!==3">Lưu thay đổi</button>
        </div>
      </div>
    </div>
    <div class="" ng-show="tab === 2">
      <div class="panel panel-default paper-shadow display-inline-block width-100pc" data-z="0.5" data-hover-z="1" data-animated="">
        <div class="panel-body">
          <div class="form-group form-control-material" ng-class="{'open': vm.authorList.length && vm.authorTyping}">
            <input type="text" class="form-control" id="course-author" name="course-author" placeholder="Tìm theo tên" ng-model="vm.aKeyword" ng-keyup="vm.delaySearch('author', vm.aKeyword)" ng-class="{'used': vm.aKeyword}" ng-click="vm.authorTyping = true" autocomplete="off"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
            <label for="course-author">Quản trị viên của khóa học: <strong>:: vm.tempCourse.admin ::</strong></label>
            <ul class="dropdown-menu badges-dropdown-list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
              <li role="menuitem" ng-repeat="author in vm.authorList" ng-click="vm.select('author', author)">
                <a href>:: author.username ::</a>
              </li>
            </ul>
          </div>
          <div class="form-group form-control-material" ng-class="{'open': vm.editorList.length && vm.editorTyping}">
            <input type="text" class="form-control" id="course-editor" name="course-editor" placeholder="Tìm theo tên giáo viên" ng-model="vm.eKeyword" ng-keyup="vm.delaySearch('editor', vm.eKeyword)" ng-class="{'used': vm.eKeyword}" ng-click="vm.editorTyping = true" autocomplete="off"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
            <label for="course-editor">Giáo viên:
            </label>
            <ul class="dropdown-menu badges-dropdown-list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
              <li role="menuitem" ng-repeat="editor in vm.editorList track by editor.id" ng-click="vm.select('editor', editor)">
                <a href>:: editor.username ::</a>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <span class="label bg-cyan-500" ng-repeat="item in vm.tempCourse.teachers" ng-if="vm.tempCourse.teachers.length">:: item.username ::
          <a href class="" ng-click="vm.remove('editor', item)"><i class="md md-close label-close"></i></a></span>
          </div>
          <div class="form-group form-control-material" ng-class="{'open': vm.courseList.length && vm.courseTyping}">
            <input type="text" class="form-control" id="course-course" name="course-course" placeholder="Tìm theo tên khóa học" ng-model="vm.cKeyword" ng-keyup="vm.delaySearch('course', vm.cKeyword)" ng-class="{'used': vm.cKeyword}" ng-click="vm.courseTyping = true" autocomplete="off"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
            <label for="course-course">Nên học trước:
            </label>
            <ul class="dropdown-menu badges-dropdown-list" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
              <li role="menuitem" ng-repeat="course in vm.courseList" ng-click="vm.select('course', course)">
                <a href>:: course.title ::</a>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <span class="label bg-blue-600" ng-repeat="item in vm.tempCourse.prerequisites" ng-if="vm.tempCourse.prerequisites.length">:: item.title ::
          <a href class="" ng-click="vm.remove('course', item)"><i class="md md-close label-close"></i></a>
        </span>
          </div>
          <button class="btn btn-primary right" type="button" ng-click="vm.saveEdit(vm.tempCourse)" ng-disabled="!form.newCourseForm.$valid || !vm.validForm()" ng-if="tab!==3">Lưu thay đổi</button>
        </div>
      </div>
    </div>
    <div class="tab-content course-lessons" ng-show="tab === 3">
      <!-- <button class="btn btn-sm btn-primary right margin-v-10" ng-click="vm.editing = true; vm.selectedLesson = {};" ng-disabled="vm.editing">Tạo bài học</button> -->
      <!-- <button class="btn btn-sm btn-success right margin-v-10 layout-margin text-white" ng-click="vm.saveLessonsOrder()" ng-disabled="!vm.orderChanged">Lưu thứ tự</button> -->
      <div class="nestable display-inline-block margin-v-10" id="lessons-order" on-drop="vm.saveLessonsOrder()" ng-if="vm.tempCourse.lessons.length">
        <ul class="nestable-list">
          <li class="nestable-item nestable-item-handle" data-id="::item.order::" data-lesson-id="::item.id::" ng-repeat="item in vm.tempCourse.lessons">
            <div class="nestable-handle"><i class="md md-menu"></i></div>
            <div class="nestable-content">
              <div class="media v-middle width-100pc">
                <div class="media-body width-100pc block">
                  <div class="display-inline-block lesson-infos">
                    <span class="overlay" ng-if="item.deleteConfirm"></span>
                    <h4 class="text-title media-heading margin-none"><a href="" class="link-text-color">:: item.title ::</a></h4>
                    <div class="text-caption">:: item.description | limitTo: 50 :: <span ng-if="item.description.length > 50"> ...</span></div>
                  </div>
                  <button class="btn btn-default btn-sm right margin-v-5-0 ripple" ng-click="item.deleteConfirm = null" ng-if="item.deleteConfirm">Hủy</button>
                  <button class="btn btn-warning btn-stroke btn-sm right layout-margin margin-v-5-0" ng-click="vm.deleteLesson(item)">:: item.deleteConfirm ? 'Xác nhận xóa?' : 'Xóa' ::</button>
                  <button class="btn btn-default btn-stroke btn-sm right layout-margin margin-v-5-0" ng-if="!item.deleteConfirm" ng-click="vm.selectLesson(item)">Sửa</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel panel-default paper-shadow margin-v-10 display-inline-block" data-z="0.5" data-hover-z="1" data-animated="">
        <div class="panel-body">
          <div class="form-group form-control-material">
            <input type="text" class="form-control" id="lesson-title" ng-model="vm.selectedLesson.title" ng-class="{'used': vm.selectedLesson.title}" maxlength="50" required><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
            <label for="lesson-title">Tiêu đề bài học</label>
          </div>
          <div class="form-group">
            <label for="lesson-desc">Mô tả</label>
            <textarea class="form-control" id="lesson-desc" placeholder="Mô tả kết quả cần đạt được" ng-model="vm.selectedLesson.description" rows="6" required></textarea>
          </div>
          <div class="btn-group col-md-3 margin-v-0-10" uib-dropdown ng-class="{'disabled': vm.selectedLesson.id}">
            <button id="lesson-type" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="vm.selectedLesson.id">::vm.selectedLesson.type ? vm.selectedLesson.type : 'Chọn phân loại'::<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="lesson-type">
              <li role="menuitem"><a href ng-click="vm.selectedLesson.type='video'">Bài giảng</a></li>
              <li role="menuitem"><a href ng-click="vm.selectedLesson.type='reading'">Bài đọc</a></li>
              <li role="menuitem"><a href ng-click="vm.selectedLesson.type='code'">Thực hành</a></li>
              <li role="menuitem"><a href ng-click="vm.selectedLesson.type='project'">Bài tập lớn</a></li>
            </ul>
          </div>
          <div class="display-inline-block width-100pc" ng-if="vm.selectedLesson.type === 'video'">
            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="video-url" placeholder="Liên kết tới video" ng-model="vm.selectedLesson.video_url" ng-class="{'used': vm.selectedLesson.video_url}" required><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
              <label for="video-url">Liên kết tới video</label>
            </div>
            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="video-duration" ng-model="vm.selectedLesson.video_duration" ng-class="{'used': vm.selectedLesson.video_duration}" maxlength="10" required><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
              <label for="video-duration">Độ dài video</label>
            </div>
            <div class="form-group">
              <label for="teacher-note">Ghi chú</label>
              <textarea class="form-control" id="teacher-note" placeholder="Ghi chú của giảng viên" ng-model="vm.selectedLesson.teacher_note" rows="3" required></textarea>
            </div>
          </div>
          <div class="display-inline-block width-100pc" ng-if="vm.selectedLesson.type === 'reading'">
            <div class="form-group">
              <label for="lesson-content">Nội dung</label>
              <textarea class="form-control" id="lesson-content" placeholder="Văn bản" ng-model="vm.selectedLesson.content" rows="6" required></textarea>
            </div>
          </div>
          <div class="display-inline-block width-100pc" ng-if="vm.selectedLesson.type === 'code'">
            <div class="progress" ng-if="vm.uploading">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-style="{width: vm.uploading}">
              </div>
            </div>
            <div class="sub-header" ng-if="vm.uploading">Uploading :: vm.uploading ::</div>
            <button class="btn btn-primary btn-stroke btn-sm margin-v-0-10" ng-if="vm.selectedLesson.id" ng-click="vm.downloadTemplate(vm.selectedLesson.id)"><i class="md md-file-download"></i><small> Download</small></button>
            <div class="btn btn-primary btn-sm margin-v-0-10" ngf-select ng-model="vm.selectedLesson.template" ngf-accept="application/zip" name="template"><small>Upload template</small></div>
            <span>::vm.selectedLesson.template.name::</span>
            <div class="form-group">
              <label for="cheat-sheet">Hướng dẫn</label>
              <textarea class="form-control" id="cheat-sheet" placeholder="Lời giải/cách giải quyết cho bài thực hành code" ng-model="vm.selectedLesson.cheat_sheet" rows="6" required></textarea>
            </div>
          </div>
          <div class="display-inline-block width-100pc" ng-if="vm.selectedLesson.type === 'project'">
            <div class="progress" ng-if="vm.uploading">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" ng-style="{width: vm.uploading}">
              </div>
            </div>
            <div class="sub-header" ng-if="vm.uploading">Uploading :: vm.uploading ::</div>
            <button class="btn btn-primary btn-stroke btn-sm margin-v-0-10" ng-if="vm.selectedLesson.id" ng-click="vm.downloadTemplate(vm.selectedLesson.id)"><i class="md md-file-download"></i><small> Download</small></button>
            <div class="btn btn-primary btn-sm margin-v-0-10" ngf-select ng-model="vm.selectedLesson.template" ngf-accept="application/zip" name="template"><small>Upload template</small></div>
            <span>::vm.selectedLesson.template.name::</span>
          </div>
          <div class="btn btn-primary btn-sm right" ng-click="vm.addLesson()" ng-disabled="!vm.validLesson()">:: vm.selectedLesson.id ? 'Lưu' : 'Tạo bài học' ::</div>
          <div class="btn btn-default btn-sm right" ng-click="vm.selectedLesson = {}">Hủy</div>
        </div>
      </div>
    </div>
  </div>
</div>
