<div id="course-details">
  <div class="parallax bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
      <div class="media v-middle">
        <div class="media-left">
          <span class="icon-block s60 bg-lightred" ng-if="vm.course.cover === 'missing.png'"><i class="mfizz icon-::vm.course.engine | lowercase::"></i></span>
          <!-- <span class="icon-block course-cover" ng-if="vm.course.cover !== 'missing.png'" ng-attr-style="background-image: url(::vm.course.cover::);"> -->
          <span class="icon-block course-cover" ng-if="vm.course.cover !== 'missing.png'">
            <img ng-src="::vm.course.cover::">
          </span>
        </div>
        <div class="media-body">
          <h1 class="text-display-1 margin-none">:: vm.course.title ::</h1>
        </div>
        <div class="media-right">
          <a class="btn btn-white" ui-sref="main.courses({type: vm.$state.params.type})">Quay lại</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div class="page-section">
          <!-- <div class="width-350 width-300-md width-100pc-xs paragraph-inline">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/Ycv5fNd4AeM?rel=0"></iframe>
          </div>
        </div> -->
          <div class="description">:: vm.course.description ::</div>
          <br/>
          <div class="info">
            <p class="margin-none">
              <!-- <span class="label bg-gray-dark">New</span> -->
              <span class="label" ng-class="vm.course.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'">:: vm.course.engine ::</span>
              <span class="label" ng-class="vm.course.level === 'Learn' ? 'bg-teal-A700' : 'bg-gray-dark'">:: vm.course.level ::</span>
              <i class="course-badge fa fa-trophy" aria-hidden="true"></i><a href><strong> :: vm.course.badge.title ::</strong></a>
            </p>
            <div class="label bg-cyan-500 admin-label">
              <h5>Quản trị khóa học:</h5>
              <div><img src="images/people/110/guy-6.jpg" width="20" height="20" class="img-circle"> :: vm.course.admin ::</div>
            </div>
          </div>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="col-md-7">
              <h2 class="text-headline margin-none">Bạn sẽ được học những gì?</h2>
              <p class="text-subhead text-light">A minus obcaecati optio pariatur porro.</p>
              <ul class="list-group relative paper-shadow" data-hover-z="0.5" data-animated>
                <li class="list-group-item">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-red-300 text-white img-circle">
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      Basics of GIT and how to become a STAR.
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-green-300 text-white img-circle">
                        <i class="fa fa-database"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      Database connections & some other nice features.
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-indigo-300 text-white img-circle">
                        <i class="fa fa-trophy"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      Eaque ex exercitationem quia reprehenderit?
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-orange-300 text-white img-circle">
                        <i class="fa fa-code-fork"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      Ab distinctio nemo, provident quia quibusdam ullam.
                    </div>
                  </div>
                </li>
                <li class="list-group-item paper-shadow">
                  <div class="media v-middle">
                    <div class="media-left">
                      <div class="icon-block s30 bg-grey-500 text-white img-circle">
                        <i class="fa fa-check"></i>
                      </div>
                    </div>
                    <div class="media-body text-body-2">
                      Conclusion & Notes.
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-5" ng-if="vm.course.prerequisites.length">
              <h2 class="text-headline margin-none">Yêu cầu của khóa học</h2>
              <p class="tẽt-subhead text-light">Khóa học này yêu cầu một số kiến thức nhất định, do đó trước khi bắt đầu, bạn nên tham gia:</p>
              <!-- {% include "src/html/themes/html/testimonial/_carousel-2.html" { dataItems: 1, dataItemsLg: 1, dataItemsMd: 1, dataItemsSm: 1 } %} -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="page-section">
          <div class="panel panel-default paper-shadow" data-toggle="panel-collapse" data-open="true" data-z="0.5" data-hover-z="1" data-animated="">
            <div class="panel-heading panel-collapse-trigger collapse" data-toggle="collapse" data-target="#manage-course" aria-expanded="true">
              <h4 class="panel-title">Quản lý</h4>
            </div>
            <div id="manage-course" class="collapse">
              <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                  <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ng-click="vm.updateCourse()" href ng-if="vm.course.status !== 'published'">Chỉnh sửa khóa học</a></li>
                  <li class="list-group-item" ui-sref-active="active" ng-if="vm.course.status !== 'published' && (user.username === vm.course.admin || user.staff)"><a class="link-text-color" ng-click="vm.courseAdministration()" href>Quản trị khóa học</a></li>
                  <li class="list-group-item" ui-sref-active="active"><a class="link-text-color" ng-click="vm.deleteCourse(vm.course.id, vm.course.title)" href>Xóa bỏ</a></li>
                  <li class="list-group-item collapse" data-toggle="collapse" data-target="#change-status" aria-expanded="true" ui-sref-active="active">
                    <a class="link-text-color sub-heading" href>Thay đổi trạng thái</a>
                    <div id="change-status" class="collapse in">
                      <div class="list-group">
                        <ul class="list-group list-group-menu">
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho quản trị viên khóa học này" ng-if="vm.course.status === 'draft'"><a class="link-text-color" ng-click="vm.changeCourseStatus('reviewing')" href><small>Nộp để kiểm tra</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status !== 'draft'"><a class="link-text-color" ng-click="vm.changeCourseStatus('draft')" href><small>Trả về nháp</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status === 'published'"><a class="link-text-color" ng-click="vm.changeCourseStatus(reviewing)" href><small>Trả về kiểm tra</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status === 'reviewing'"><a class="link-text-color" ng-click="vm.changeCourseStatus('published')" href><small>Duyệt</small></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
            <div class="panel-body">
              <div class="media v-middle" ng-if="!vm.course.teachers.length">
                <h4 class="margin-none">Chưa có giáo viên được chỉ định cho khóa học này</h4>
              </div>
              <div class="media v-middle" ng-repeat="teacher in vm.course.teachers">
                <div class="media-left">
                  <img src="images/people/110/guy-{{ random(1,9) }}.jpg" alt="" width="60" class="img-circle">
                </div>
                <div class="media-body">
                  <h4 class="margin-none"><a href>:: teacher.username ::</a></h4>
                  <span class="caption text-light">Giáo viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white page-section padding-v-20-40">
    <div class="container">
      <h4>Featured</h4> {% include "src/html/themes/html/courses/_carousel.html" { dataItems: 4, dataItemsLg: 3, dataItemsMd: 2, dataItemsSm: 1 } %}
    </div>
  </div>
</div>
