<div id="course-details" ng-cloak>
  <div class="parallax bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
      <div class="media v-middle">
        <div class="media-left">
          <span class="course-cover" ng-class="vm.course.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'" ng-if="vm.course.cover === 'missing.png'"><i class="mfizz icon-::vm.course.engine | lowercase::"></i></span>
          <span class="icon-block course-cover" ng-if="vm.course.cover !== 'missing.png'" ng-attr-style="background-image: url(::vm.course.cover::);"></span>
          <!-- <span class="icon-block course-cover" ng-if="vm.course.cover !== 'missing.png'">
            <img ng-src="::vm.course.cover::">
          </span> -->
        </div>
        <div class="media-body">
          <h1 class="text-display-1 margin-none">:: vm.course.title ::</h1>
        </div>
        <div class="media-right">
          <a class="btn btn-white" ui-sref="main.courses({type: vm.$state.params.type})" ng-if="user.instructor || user.staff || user.admin">Quay lại</a>
          <a class="btn btn-enroll" ng-class="hovering ? 'bg-light-blue-300' : 'bg-light-blue-400'" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false" ng-if="!user.instructor && !user.staff && !user.admin && !vm.course.enrolled" ng-click="vm.enroll()">Nhập học</a>
          <a class="btn btn-enroll" ng-class="hovering ? 'bg-teal-A400' : 'bg-teal-A700'" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false" ng-if="!user.instructor && !user.staff && !user.admin && vm.course.enrolled" ui-sref="main.learn({course_id: vm.course.id, workspace_id:1})">Tiếp tục</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" ng-show="!vm.isConfig">
      <div class="col-lg-9 col-md-8">
        <div class="page-section">
          <div class="description">:: vm.course.description ::</div>
          <br/>
          <div class="info">
            <p class="margin-none">
              <!-- <span class="label bg-gray-dark">New</span> -->
              <span class="label" ng-class="vm.course.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'">:: vm.course.engine ::</span>
              <span class="label" ng-class="vm.course.level === 'Learn' ? 'bg-teal-A700' : 'bg-gray-dark'">:: vm.course.level ::</span>
              <!-- <i class="course-badge fa fa-trophy" aria-hidden="true"></i><a href><strong> :: vm.course.badge.title ::</strong></a> -->
              <img ng-src=":: vm.course.badge.id | badgeImage:allBadges ::" alt="Badge" class="icon-block s30 img-circle"><a ui-sref="main.badges({id: vm.course.badge.id})"><strong> :: vm.course.badge.title ::</strong></a>
            </p>
            <div class="label bg-cyan-500 admin-label">
              <small>Quản trị viên:</small>
              <img src="images/people/110/guy-6.jpg" width="25" height="25" class="img-circle"><span class="text-h5"> :: vm.course.admin ::</span>
            </div>
          </div>
        </div>
        <div class="page-section equal">
          <div class="row">
            <div class="col-sm-12 col-md-10">
              <div class="panel panel-default paper-shadow" data-z="0.5" ng-if="vm.course.status !== 'published' && !vm.course.lessons.length">
                <div class="panel-heading panel-heading-gray">
                  <div class="text-h4"><span class="text-primary">:: vm.course.title ::</span> hiện chưa có bài học nào. Hãy vào mục <span class="text-muted">Chỉnh sửa thông tin và quản trị</span> để tạo các bài học.</div>
                </div>
              </div>
              <div class="panel panel-default curriculum paper-shadow lesson-item" data-z="0.5" ng-repeat="lesson in vm.course.lessons"  ng-mouseenter="lesson.hover = true" ng-mouseleave="lesson.hover = false">
                <div class="panel-heading panel-heading-gray">
                  <div class="media">
                    <div class="media-left">
                      <span class="icon-block img-circle bg-:: lesson.type | lessonTypeClass:'bgColor' ::-300 half text-white"><i class="fa fa-:: lesson.type | lessonTypeClass:'icon' ::"></i></span>
                    </div>
                    <div class="media-body">
                      <h4 class="text-headline inline-block" data-toggle="collapse" data-target="#curriculum-::$index::">:: lesson.title ::</h4>
                      <button class="btn btn-sm bg-cyan-500 inline-block right text-white margin-v-10-0" ng-click="vm.goToLesson(lesson.id)" ng-if="!user.instructor && !user.staff && !user.admin && vm.course.enrolled && lesson.hover">Vào học</button>
                      <div class="collapse" id="curriculum-::$index::">
                        <p>:: lesson.description ::</p>
                        <div class="media v-middle">
                          <div class="media-left">
                            <img src="images/people/110/guy-6.jpg" alt="teacher" width="40" class="img-circle">
                          </div>
                          <div class="media-body">
                            <h4 class="text-title margin-none">:: lesson.teacher ::</h4>
                            <span class="caption text-light">Giáo viên đảm nhiệm</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <span class="collapse-status collapse-open" ng-click="lesson.more = true">Xem thêm</span>
                  <span class="collapse-status collapse-close" ng-click="lesson.more = false">Thu gọn</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="page-section">
          <div class="panel panel-default paper-shadow" data-toggle="panel-collapse" data-open="true" data-z="0.5" data-hover-z="1" data-animated="" ng-show="vm.$state.params.type !== 'published'">
            <div class="panel-heading panel-collapse-trigger collapse" data-toggle="collapse" data-target="#manage-course" aria-expanded="true">
              <h4 class="panel-title">Quản lý</h4>
            </div>
            <div id="manage-course" class="collapse">
              <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                  <li class="list-group-item" ui-sref-active="active" ng-if="vm.course.status !== 'published'"><a class="link-text-color" ng-click="vm.editCourse()" href>Chỉnh sửa thông tin và quản trị</a></li>
                  <li class="list-group-item" ui-sref-active="active" ng-if="vm.course.status !== 'published'"><a class="link-text-color" ng-click="vm.deleteCourse(vm.course.id, vm.course.title)" href>Xóa bỏ</a></li>
                  <li class="list-group-item collapse" data-toggle="collapse" data-target="#change-status" aria-expanded="true" ui-sref-active="active">
                    <a class="link-text-color sub-heading" href>Trạng thái: <strong>:: vm.course.status | courseStatus ::</strong></a>
                    <div id="change-status" class="collapse in">
                      <div class="list-group">
                        <ul class="list-group list-group-menu">
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho quản trị viên khóa học này" ng-if="vm.course.status === 'draft'"><a class="link-text-color" ng-click="vm.changeCourseStatus('reviewing')" href><small>Nộp để kiểm tra</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status !== 'draft' && user.staff"><a class="link-text-color" ng-click="vm.changeCourseStatus('draft')" href><small>Trả về nháp</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status === 'published' && user.staff"><a class="link-text-color" ng-click="vm.changeCourseStatus('reviewing')" href><small>Trả về kiểm tra</small></a></li>
                          <li class="list-group-item" ui-sref-active="active" uib-tooltip="Chỉ dành cho nhân viên" ng-if="vm.course.status === 'reviewing' && user.staff"><a class="link-text-color" ng-click="vm.changeCourseStatus('published')" href><small>Duyệt</small></a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
            <div class="panel-body">
              <div class="media v-middle" ng-if="!vm.course.teachers.length">
                <h4 class="margin-none">Chưa có giáo viên nào khác được chỉ định cho khóa học này</h4>
              </div>
              <div class="media v-middle" ng-repeat="teacher in vm.course.teachers">
                <div class="media-left">
                  <img src="images/people/110/guy-{{ random(1,9) }}.jpg" alt="" width="60" class="img-circle">
                </div>
                <div class="media-body">
                  <h4 class="margin-none"><a href class="">:: teacher.username ::</a></h4>
                  <span class="caption text-light">Giáo viên</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="vm.isConfig">
      {% include "src/html/themes/angular/courses/course-admin.html" %}
    </div>
  </div>
  <div class="bg-white page-section padding-v-20-40 course-prerequisites" ng-if="vm.course.prerequisites.length">
    <div class="container">
      <h4 class="margin-none">Các kiến thức nên biết</h4>
      <p class="text-light">Khóa học này yêu cầu một số kiến thức nhất định, do đó trước khi bắt đầu, bạn nên tham gia:</p>
      <div class="panel panel-default paper-shadow col-sm-4 col-lg-3 padding-none" data-z="0.5" data-hover-z="1" data-animated ng-repeat="item in vm.course.prerequisites">
        <div class="panel-body">
          <div class="media media-clearfix-xs">
            <div class="media-left">
              <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                <div ng-if="item.cover !== 'missing.png'">
                  <span ui-sref="main.courses.details({course_id: item.id})" class="img icon-block s90 course-cover" ng-attr-style="background-image: url(::item.cover::);"></span>
                  <a ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white"></a>
                </div>
                <div ng-if="item.cover == 'missing.png'">
                  <span class="img icon-block s90 bg-primary"></span>
                  <a ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full padding-none icon-block s90 bg-primary">
                    <span class="v-center"><i class="mfizz icon-::item.engine | lowercase::"></i></span>
                  </a>
                  <a ui-sref="main.courses.details({course_id: item.id})" class="overlay overlay-full overlay-hover overlay-bg-white">
                    <span class="v-center">
                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading margin-v-5-3"><a ui-sref="main.courses.details({course_id: item.id})">:: item.title ::</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
