{% extends "src/html/themes/angular/website/_layout-instructor.html" %} {% block content %}
<div class="container">
  <div class="jumbotron bg-transparent margin-none side-padding-none">
    <button class="btn btn-primary right" type="button" ng-click="vm.newBadge()" ng-if="user.instructor || user.staff">Tạo danh hiệu</button>
    <div class="panel panel-default paper-shadow badge-details" data-z="0.5" data-hover-z="1" data-animated="" ng-class="{'badge-selected': vm.selectedBadge}">
      <div class="panel-body">
        <div class="media media-clearfix-xs width-100pc" ng-if="!vm.editing">
          <div class="media-left text-center">
            <img ng-src=":: vm.selectedBadge.image ::" alt="badge_image" class="img-circle" height="100">
          </div>
          <div class="media-body" ng-show="vm.selectedBadge">
            <h4 class="text-headline margin-v-5-0">:: vm.selectedBadge.title ::</h4>
            <p>:: vm.selectedBadge.description ::</p>
            <hr class="margin-v-8">
            <div ng-if="vm.selectedBadge">
              <p class="text-light" ng-if="vm.selectedBadge.required_courses.length && (vm.selectedBadge.required_courses | publishedCourses).length">Hoàn thành một trong các khóa học sau để đạt được danh hiệu này</p>
              <slick class="padding-none" dots=true infinite=false speed=300 slides-to-show=2 touch-move=false slides-to-scroll=1>
                <div class="media v-middle required-course" ng-repeat="item in (vm.selectedBadge.required_courses | publishedCourses) track by item.id">
                  <div class="media-left">
                    <img ng-src="::item.cover::" alt="Course" class="width-60" ng-if="item.cover.length">
                    <span class="icon-block s60" ng-class="item.engine | engineBg" ng-if="!item.cover.length"><i class="mfizz icon-::item.engine.name | lowercase::"></i></span>
                  </div>
                  <div class="media-body">
                    <h4><a ui-sref="main.courses.details({course_id: item.id})">:: item.title ::</a></h4>
                  </div>
                </div>
              </slick>
            </div>
            <div class="btn btn-primary btn-sm right" ng-click="vm.editing = true" ng-if="user.instructor || user.staff">Chỉnh sửa</div>
          </div>
        </div>
        <div class="media media-clearfix-xs width-100pc" ng-if="vm.editing">
          <div class="media-left text-center">
            <img ng-src=":: vm.selectedBadge.image ::" alt="badge_image" class="img-circle" height="100" ng-if="vm.selectedBadge.image">
            <div class="btn btn-primary btn-sm" ngf-select ng-model="uploadedFile" ngf-accept="'svg, png'" name="template" ngf-change="vm.photoChanged(uploadedFile)"><small>Chọn biểu tượng</small></div>
          </div>
          <div class="media-body" ng-show="vm.selectedBadge">
            <div class="form-group form-control-material">
              <input type="text" class="form-control" id="badge-title" placeholder="Nhập tên khóa học" ng-model="vm.selectedBadge.title" ng-class="{'used': vm.selectedBadge.title}" maxlength="50" required><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
              <label for="badge-title">Danh hiệu</label>
            </div>
            <div class="form-group">
              <label for="badge-desc">Mô tả</label>
              <textarea class="form-control" id="badge-desc" placeholder="Giới thiệu/mô tả ngắn gọn về danh hiệu" ng-model="vm.selectedBadge.description" rows="5" required></textarea>
            </div>
            <div class="btn btn-primary btn-sm right" ng-click="vm.save()" ng-disabled="!vm.selectedBadge.image || !vm.selectedBadge.title || !vm.selectedBadge.description">:: vm.selectedBadge.id ? 'Lưu' : 'Tạo danh hiệu' ::</div>
            <div class="btn btn-danger btn-sm right" ng-click="vm.delete()" ng-if="vm.selectedBadge.id">Xóa danh hiệu</div>
          </div>
        </div>
        <div class="pull-right close-btn">
          <a class="relative" data-z="1" href ng-click="vm.selectedBadge = null"><i class="md md-close"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="badges-container">
    <div class="col-xs-4 col-sm-4 col-md-3" ng-repeat="badge in vm.badges track by badge.id">
      <div class="panel panel-default paper-shadow padding-none" data-z="0.5" data-hover-z="1" data-animated="" ng-click="vm.selectBadge(badge.id)">
        <div class="panel-body">
          <div class="media v-middle">
            <div class="media-left">
              <img ng-src=":: badge.image ::" alt="badge_image" class="img-circle" height="60" width="60">
            </div>
            <div class="media-body">
              <p class="text-subhead margin-v-5-0">
                <!-- <span class="text-muted">@ Mosaicpro Inc.</span> -->
                <strong>:: badge.title ::</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
