<div class="panel panel-default width-100pc action-bar">
  <div class="panel-body padding-v-5-15">
    <div class="form-group padding-none">
      <div class="col-xs-6 col-md-5 col-lg-6">
        <div class="form-control-material">
          <input id="forumSearch" type="text" class="form-control" ng-model="vm.search.title" />
          <label for="forumSearch">Tìm bài tập</label>
        </div>
      </div>
      <div class="btn-group col-xs-2" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-default width-100pc" uib-dropdown-toggle>::vm.search.level.length ? vm.search.level : 'Trình độ'::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.search.level = ''">Tất cả</a></li>
          <li role="menuitem"><a href ng-click="vm.search.level = 'Learn'">Learn</a></li>
          <li role="menuitem"><a href ng-click="vm.search.level = 'Hack'">Hack</a></li>
        </ul>
      </div>
      <div class="btn-group col-xs-2" uib-dropdown>
        <button id="btn-append-to-to-body" type="button" class="btn btn-default width-100pc" uib-dropdown-toggle>::vm.search.engine.length ? vm.search.engine : 'Ngôn ngữ'::<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href ng-click="vm.search.engine = ''">Tất cả</a></li>
          <li role="menuitem"><a href ng-click="vm.search.engine = 'Python'">Python</a></li>
          <li role="menuitem"><a href ng-click="vm.search.engine = 'Ruby'">Ruby</a></li>
        </ul>
      </div>
      <div class="col-xs-2 col-md-3 col-lg-2 text-right material-checkbox">
        <input id="isCompleted" type="checkbox" ng-model="vm.search.finished" ng-false-value="undefined">
        <label for="isCompleted" class="text-light">Đã hoàn thành</label>
        <!-- <div class="checkbox checkbox-primary">
                    </div> -->
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default paper-shadow col-xs-12" data-z="0.5">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="media v-middle">
        <div class="media-body">
          <h4 class="text-headline margin-none">Các bài tập lớn</h4>
          <p class="text-subhead text-light">Tập hợp những thử thách để rèn luyện kỹ năng của bạn</p>
        </div>
      </div>
    </li>
    <li class="list-group-item media v-middle" ng-repeat="item in (filteredItems = (vm.myProjects | filter: vm.search)) track by item.id">
      <div class="media-left">
        <span class="icon-block img-circle half text-white" ng-if="!item.finished" ng-class="item.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'"><i class="mfizz icon-::item.engine | lowercase::"></i></span>
        <span class="icon-block img-circle bg-green-A400 half text-white icon-finished" ng-if="item.finished" uib-tooltip="Bạn đã hoàn thành bài tập này!" tooltip-placement="right"><i class="md md-check"></i></span>
      </div>
      <div class="media-body">
        <h4 class="margin-none">
          <a ui-sref="main.learn({course_id: item.course_id, workspace_id: item.id})" class="link-text-color">:: item.title ::</a>
          <!-- <span class="icon-block img-circle s25 text-white bg-green-A400" ng-if="item.finished"><i class="md md-check"></i></span> -->
        </h4>
        <div class="text-light text-caption">
          thuộc khóa học
          <a ui-sref="main.courses.details({course_id: item.course_id})">:: item.course_name ::</a> &nbsp;
          <span class="label label-sm" ng-class="item.engine === 'Ruby' ? 'bg-lightred' : 'bg-indigo-300'">:: item.engine ::</span>
          <span class="label label-sm" ng-class="item.level === 'Learn' ? 'bg-teal-A700' : 'bg-gray-dark'">:: item.level ::</span>
          <img src="images/people/110/guy-6.jpg" width="25" height="25" class="img-circle"><span class="text-h5 text-light"> :: item.teacher.username ::</span>
        </div>
      </div>
      <div class="media-right col-md-2 no-float padding-none">
        <button class="btn btn-stroke btn-sm inline-block right btn-take-lesson" ui-sref="main.learn({course_id: item.course_id, workspace_id: item.id})">Vào học</button>
      </div>
    </li>
    <li class="list-group-item media v-middle" ng-if="!filteredItems.length">
      <h4>Không tìm thấy kết quả</h4>
    </li>
  </ul>
</div>
